recursive-include src/laion_clap/clap_module/model_configs *.json
recursive-include src/laion_clap/clap_module bpe_simple_vocab_16e6.txt.gz
recursive-include src/laion_clap/training audioset_textmap.npy
